In [2]:
import pandas as pd
import numpy as np
from pandas import DataFrame

In [37]:
base_path='./'
house=DataFrame.from_csv(base_path+'train.csv',index_col='Id')

In [38]:
house.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [39]:
house.loc[house.BsmtCond.isnull(), 'BsmtCond'] = 'NoBsmt'
house.loc[house.FireplaceQu.isnull(), 'FireplaceQu'] = 'NoFireplace'
house.loc[house.GarageQual.isnull(), 'GarageQual'] = 'NoGarage'
house.loc[house.GarageCond.isnull(), 'GarageCond'] = 'NoGarage'
house.loc[house.GarageCond.isnull(), 'BsmtQual'] = 'NoBsmt'
house.loc[house.GarageCond.isnull(), 'BsmtExposure'] = 'NoBsmt'

In [40]:
house = house.replace({
                             'ExterQual': {'Ex': 5, 
                                            'Gd': 4, 
                                            'TA': 3, 
                                            'Fa': 2,
                                            'Po': 1
                                            },
                             'ExterCond': {'Ex': 5, 
                                            'Gd': 4, 
                                            'TA': 3, 
                                            'Fa': 2,
                                            'Po': 1
                                            },
                             'BsmtCond': {'Ex': 5, 
                                            'Gd': 4, 
                                            'TA': 3, 
                                            'Fa': 2,
                                            'Po': 1,
                                            'NoBsmt': 0},
                            'HeatingQC': {'Ex': 5, 
                                            'Gd': 4, 
                                            'TA': 3, 
                                            'Fa': 2,
                                            'Po': 1
                                            },
                            'KitchenQual': {'Ex': 5, 
                                            'Gd': 4, 
                                            'TA': 3, 
                                            'Fa': 2,
                                            'Po': 1},
                             'Functional': {'Typ': 0,
                                            'Min1': 1,
                                            'Min2': 1,
                                            'Mod': 2,
                                            'Maj1': 3,
                                            'Maj2': 4,
                                            'Sev': 5,
                                            'Sal': 6
                                           },
                            'FireplaceQu': {'Ex': 5, 
                                            'Gd': 4, 
                                            'TA': 3, 
                                            'Fa': 2,
                                            'Po': 1,
                                            'NoFireplace': 0 
                                            },
                             'GarageQual': {'Ex': 5, 
                                            'Gd': 4, 
                                            'TA': 3, 
                                            'Fa': 2,
                                            'Po': 1,
                                            'NoGarage': 0},
                             'GarageCond': {'Ex': 5, 
                                            'Gd': 4, 
                                            'TA': 3, 
                                            'Fa': 2,
                                            'Po': 1,
                                            'NoGarage': 0},
                             'BsmtQual': {'Ex': 5, 
                                            'Gd': 4, 
                                            'TA': 3, 
                                            'Fa': 2,
                                            'Po': 1,
                                            'NoBsmt': 0},
                             'BsmtExposure': {'Gd': 4, 
                                            'Av': 3, 
                                            'Mn': 2,
                                            'No': 1,
                                            'NoBsmt': 0},        
                            })

In [41]:
house.dtypes

dtype('float64')

In [45]:
# Select all numerical
num_data=house.select_dtypes(include=['int64','float64'])
# MSSubClass is categorical
num_data=num_data.drop(['MSSubClass'],axis=1)
num_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1460 entries, 1 to 1460
Data columns (total 47 columns):
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null int64
ExterCond        1460 non-null int64
BsmtQual         1423 non-null float64
BsmtCond         1460 non-null int64
BsmtExposure     1422 non-null float64
BsmtFinSF1       1460 non-null int64
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
HeatingQC        1460 non-null int64
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null int64
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null int64
Fireplaces       1460 non-null int64
FireplaceQu      1460 non-null int64
GarageYrBlt      1379 non-null float64
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1460 non-null int64
GarageCond       1460 non-null int64
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SalePrice        1460 non-null int64
dtypes: float64(5), int64(42)
memory usage: 547.5 KB

In [47]:
cat_data=house.select_dtypes(include=['object'])
cat_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1460 entries, 1 to 1460
Data columns (total 32 columns):
MSZoning         1460 non-null object
Street           1460 non-null object
Alley            91 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1452 non-null object
Foundation       1460 non-null object
BsmtFinType1     1423 non-null object
BsmtFinType2     1422 non-null object
Heating          1460 non-null object
CentralAir       1460 non-null object
Electrical       1459 non-null object
GarageType       1379 non-null object
GarageFinish     1379 non-null object
PavedDrive       1460 non-null object
PoolQC           7 non-null object
Fence            281 non-null object
MiscFeature      54 non-null object
SaleType         1460 non-null object
SaleCondition    1460 non-null object
dtypes: object(32)
memory usage: 376.4+ KB

In [49]:
obj_columns=house.select_dtypes(include=['object'])
obj_columns.columns

Index([u'MSZoning', u'Street', u'Alley', u'LotShape', u'LandContour',
       u'Utilities', u'LotConfig', u'LandSlope', u'Neighborhood',
       u'Condition1', u'Condition2', u'BldgType', u'HouseStyle', u'RoofStyle',
       u'RoofMatl', u'Exterior1st', u'Exterior2nd', u'MasVnrType',
       u'Foundation', u'BsmtFinType1', u'BsmtFinType2', u'Heating',
       u'CentralAir', u'Electrical', u'GarageType', u'GarageFinish',
       u'PavedDrive', u'PoolQC', u'Fence', u'MiscFeature', u'SaleType',
       u'SaleCondition'],
      dtype='object')

In [51]:
to_convert=[u'MSSubClass',u'MSZoning', u'Street', u'Alley', u'LotShape', u'LandContour',
       u'Utilities', u'LotConfig', u'LandSlope', u'Neighborhood',
       u'Condition1', u'Condition2', u'BldgType', u'HouseStyle', u'RoofStyle',
       u'RoofMatl', u'Exterior1st', u'Exterior2nd', u'MasVnrType',
       u'Foundation', u'BsmtFinType1', u'BsmtFinType2', u'Heating',
       u'CentralAir', u'Electrical', u'GarageType', u'GarageFinish',
       u'PavedDrive', u'PoolQC', u'Fence', u'MiscFeature', u'SaleType',
       u'SaleCondition']
print len(to_convert),' columns to convert from categorical to numerical.'

33  columns to convert from categorical to numerical.

In [54]:
for cname in to_convert:
    house[cname]=house[cname].astype('category')
cat_columns = house.select_dtypes(['category'])
cat_columns.columns

Index([u'MSSubClass', u'MSZoning', u'Street', u'Alley', u'LotShape',
       u'LandContour', u'Utilities', u'LotConfig', u'LandSlope',
       u'Neighborhood', u'Condition1', u'Condition2', u'BldgType',
       u'HouseStyle', u'RoofStyle', u'RoofMatl', u'Exterior1st',
       u'Exterior2nd', u'MasVnrType', u'Foundation', u'BsmtFinType1',
       u'BsmtFinType2', u'Heating', u'CentralAir', u'Electrical',
       u'GarageType', u'GarageFinish', u'PavedDrive', u'PoolQC', u'Fence',
       u'MiscFeature', u'SaleType', u'SaleCondition'],
      dtype='object')

In [55]:
code_columns = cat_columns[cat_columns.columns].apply(lambda x: x.cat.codes)
print "Converting finished"
code_columns.info()

Converting finished
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1460 entries, 1 to 1460
Data columns (total 33 columns):
MSSubClass       1460 non-null int8
MSZoning         1460 non-null int8
Street           1460 non-null int8
Alley            1460 non-null int8
LotShape         1460 non-null int8
LandContour      1460 non-null int8
Utilities        1460 non-null int8
LotConfig        1460 non-null int8
LandSlope        1460 non-null int8
Neighborhood     1460 non-null int8
Condition1       1460 non-null int8
Condition2       1460 non-null int8
BldgType         1460 non-null int8
HouseStyle       1460 non-null int8
RoofStyle        1460 non-null int8
RoofMatl         1460 non-null int8
Exterior1st      1460 non-null int8
Exterior2nd      1460 non-null int8
MasVnrType       1460 non-null int8
Foundation       1460 non-null int8
BsmtFinType1     1460 non-null int8
BsmtFinType2     1460 non-null int8
Heating          1460 non-null int8
CentralAir       1460 non-null int8
Electrical       1460 non-null int8
GarageType       1460 non-null int8
GarageFinish     1460 non-null int8
PavedDrive       1460 non-null int8
PoolQC           1460 non-null int8
Fence            1460 non-null int8
MiscFeature      1460 non-null int8
SaleType         1460 non-null int8
SaleCondition    1460 non-null int8
dtypes: int8(33)
memory usage: 58.5 KB

In [57]:
count=0
one_hot_df=pd.DataFrame()
for col_name in to_convert:
    count+=1
    print 'Converting column ',col_name
    one_hot_columns=pd.get_dummies(house[col_name],prefix=col_name+'_')
    print count,': one-hot converted to ',type(one_hot_columns),one_hot_columns.shape
    for this_col in one_hot_columns.columns:
        one_hot_df[this_col]=one_hot_columns[this_col]
print 'All columns converted to one-hot matrix', 'count: ',count
one_hot_df.info()

Converting column  MSSubClass
1 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 15)
Converting column  MSZoning
2 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 5)
Converting column  Street
3 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 2)
Converting column  Alley
4 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 2)
Converting column  LotShape
5 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 4)
Converting column  LandContour
6 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 4)
Converting column  Utilities
7 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 2)
Converting column  LotConfig
8 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 5)
Converting column  LandSlope
9 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 3)
Converting column  Neighborhood
10 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 25)
Converting column  Condition1
11 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 9)
Converting column  Condition2
12 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 8)
Converting column  BldgType
13 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 5)
Converting column  HouseStyle
14 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 8)
Converting column  RoofStyle
15 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 6)
Converting column  RoofMatl
16 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 8)
Converting column  Exterior1st
17 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 15)
Converting column  Exterior2nd
18 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 16)
Converting column  MasVnrType
19 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 4)
Converting column  Foundation
20 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 6)
Converting column  BsmtFinType1
21 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 6)
Converting column  BsmtFinType2
22 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 6)
Converting column  Heating
23 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 6)
Converting column  CentralAir
24 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 2)
Converting column  Electrical
25 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 5)
Converting column  GarageType
26 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 6)
Converting column  GarageFinish
27 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 3)
Converting column  PavedDrive
28 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 3)
Converting column  PoolQC
29 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 3)
Converting column  Fence
30 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 4)
Converting column  MiscFeature
31 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 4)
Converting column  SaleType
32 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 9)
Converting column  SaleCondition
33 : one-hot converted to  <class 'pandas.core.frame.DataFrame'> (1460, 6)
All columns converted to one-hot matrix count:  33
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1460 entries, 1 to 1460
Columns: 215 entries, MSSubClass__20 to SaleCondition__Partial
dtypes: uint8(215)
memory usage: 317.9 KB

In [58]:
concat_data=pd.concat([num_data, one_hot_df], axis=1)
concat_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1460 entries, 1 to 1460
Columns: 262 entries, LotFrontage to SaleCondition__Partial
dtypes: float64(5), int64(42), uint8(215)
memory usage: 854.0 KB

In [63]:
concat_bak=concat_data.copy(deep=True)

In [64]:
concat_bak.apply(lambda x: x.fillna(x.mean()),axis=0)
concat_bak.isnull().values.sum()

423

In [65]:
concat_bak[concat_bak.isnull().any(axis=1)]

,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,ExterCond,BsmtQual,...,SaleType__ConLw,SaleType__New,SaleType__Oth,SaleType__WD,SaleCondition__Abnorml,SaleCondition__AdjLand,SaleCondition__Alloca,SaleCondition__Family,SaleCondition__Normal,SaleCondition__Partial
Id,,,,,,,,,,,,,,,,,,,,,
8,NaN,10382,7,6,1973,1973,240.0,3,3,4.0,...,0,0,0,1,0,0,0,0,1,0
13,NaN,12968,5,6,1962,1962,0.0,3,3,3.0,...,0,0,0,1,0,0,0,0,1,0
15,NaN,10920,6,5,1960,1960,212.0,3,3,3.0,...,0,0,0,1,0,0,0,0,1,0
17,NaN,11241,6,7,1970,1970,180.0,3,3,3.0,...,0,0,0,1,0,0,0,0,1,0
18,72.0,10791,4,5,1967,1967,0.0,3,3,NaN,...,0,0,0,1,0,0,0,0,1,0
25,NaN,8246,5,8,1968,2001,0.0,3,4,3.0,...,0,0,0,1,0,0,0,0,1,0
32,NaN,8544,5,6,1966,2006,0.0,3,3,3.0,...,0,0,0,1,0,0,0,0,1,0
40,65.0,6040,4,5,1955,1955,0.0,3,3,NaN,...,0,0,0,1,0,1,0,0,0,0
43,NaN,9180,5,7,1983,1983,0.0,3,3,4.0,...,0,0,0,1,0,0,0,0,1,0
44,NaN,9200,5,6,1975,1980,0.0,3,3,4.0,...,0,0,0,1,0,0,0,0,1,0
49,33.0,4456,4,5,1920,2008,0.0,3,3,3.0,...,0,1,0,0,0,0,0,0,0,1
51,NaN,13869,6,6,1997,1997,0.0,3,3,4.0,...,0,0,0,1,0,0,0,0,1,0
65,NaN,9375,7,5,1997,1998,573.0,3,3,4.0,...,0,0,0,1,0,0,0,0,1,0
67,NaN,19900,7,5,1970,1989,287.0,3,3,4.0,...,0,0,0,1,0,0,0,0,1,0
77,NaN,8475,4,7,1956,1956,0.0,3,3,3.0,...,0,0,0,1,0,0,0,0,1,0
79,72.0,10778,4,5,1968,1968,0.0,3,3,3.0,...,0,0,0,1,0,0,0,0,1,0
85,NaN,8530,7,5,1995,1996,22.0,3,3,4.0,...,0,0,0,1,0,0,0,0,1,0
89,105.0,8470,3,2,1915,1982,0.0,2,2,3.0,...,0,0,0,0,1,0,0,0,0,0
90,60.0,8070,4,5,1994,1995,0.0,3,3,4.0,...,0,0,0,1,0,0,0,0,1,0
91,60.0,7200,4,5,1950,1950,0.0,3,3,NaN,...,0,0,0,1,0,0,0,0,1,0
96,NaN,9765,6,8,1993,1993,68.0,5,4,4.0,...,0,0,0,1,0,0,0,0,1,0
100,77.0,9320,4,5,1959,1959,0.0,3,3,3.0,...,0,0,0,1,0,0,0,0,1,0
101,NaN,10603,6,7,1977,2001,28.0,3,3,3.0,...,0,0,0,1,0,0,0,0,1,0
103,64.0,7018,5,5,1979,1979,0.0,3,2,NaN,...,0,0,0,1,0,0,1,0,0,0
105,NaN,7758,7,4,1931,1950,600.0,3,2,3.0,...,0,0,0,1,0,0,0,0,1,0
109,85.0,8500,5,7,1919,2005,0.0,3,3,3.0,...,0,0,0,1,0,0,0,0,1,0
112,NaN,7750,7,5,2000,2000,0.0,3,3,4.0,...,0,0,0,1,0,0,0,0,1,0
114,NaN,21000,6,5,1953,1953,184.0,3,4,4.0,...,0,0,0,0,1,0,0,0,0,0
117,NaN,11616,5,5,1962,1962,116.0,3,3,3.0,...,0,0,0,1,0,0,0,0,1,0
121,NaN,21453,6,5,1969,1969,0.0,3,3,3.0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1338,153.0,4118,4,4,1941,1950,0.0,3,3,3.0,...,0,0,0,1,0,0,0,0,1,0
1343,NaN,9375,8,5,2002,2002,149.0,4,3,4.0,...,0,0,0,1,0,0,0,0,1,0
1347,NaN,20781,7,7,1968,2003,0.0,3,3,3.0,...,0,0,0,1,0,0,0,0,1,0
1349,NaN,16196,7,5,1998,1998,0.0,4,3,4.0,...,0,0,0,1,0,0,0,0,1,0
1350,50.0,5250,8,5,1872,1987,0.0,3,4,3.0,...,0,0,0,1,0,0,0,0,1,0
1355,NaN,10316,7,5,2000,2000,0.0,4,3,4.0,...,0,0,0,1,0,0,0,0,1,0
1357,NaN,9477,5,5,1966,1966,65.0,3,3,3.0,...,0,0,0,1,0,0,0,0,1,0
1358,NaN,12537,5,6,1971,2008,0.0,3,3,3.0,...,0,0,0,1,0,0,0,0,1,0
1359,NaN,2117,6,5,2000,2000,216.0,4,3,4.0,...,0,0,0,1,0,0,0,0,1,0
1363,NaN,12513,4,4,1920,2007,0.0,3,4,3.0,...,0,0,0,1,0,0,0,0,1,0
1366,NaN,7500,7,5,2000,2000,0.0,4,3,4.0,...,0,0,0,1,0,0,0,0,1,0
1369,NaN,4435,6,5,2003,2004,170.0,4,3,4.0,...,0,0,0,1,0,0,0,0,1,0
1374,NaN,11400,10,5,2001,2002,705.0,5,3,5.0,...,0,0,0,1,0,0,0,0,1,0
1382,NaN,12925,6,7,1970,1970,0.0,3,3,3.0,...,0,0,0,1,0,0,0,0,1,0
1384,NaN,25339,5,7,1918,2007,0.0,3,4,3.0,...,0,0,0,1,0,0,0,0,1,0
1397,NaN,57200,5,5,1948,1950,0.0,3,3,3.0,...,0,0,0,1,0,0,0,0,1,0
1408,NaN,8780,5,5,1985,1985,0.0,3,3,3.0,...,0,0,0,1,0,0,0,0,1,0
1413,60.0,7200,4,5,1949,1950,0.0,3,3,NaN,...,0,0,0,1,0,0,0,0,1,0
1418,NaN,16545,8,5,1998,1998,731.0,4,3,4.0,...,0,0,0,1,0,0,0,0,1,0
1420,NaN,16381,6,5,1969,1969,312.0,4,4,3.0,...,0,0,0,1,0,0,0,0,1,0
1424,NaN,19690,6,7,1966,1966,0.0,4,4,4.0,...,0,0,0,1,0,0,1,0,0,0
1425,NaN,9503,5,5,1958,1983,0.0,3,3,3.0,...,0,0,0,1,0,0,0,0,1,0
1430,NaN,12546,6,7,1981,1981,310.0,4,4,4.0,...,0,0,0,1,0,0,0,0,1,0
1432,NaN,4928,6,6,1976,1976,0.0,3,3,4.0,...,0,0,0,1,0,0,0,0,1,0
1442,NaN,4426,6,5,2004,2004,147.0,4,3,4.0,...,0,0,0,1,0,0,0,0,1,0
1444,NaN,8854,6,6,1916,1950,0.0,3,3,3.0,...,0,0,0,1,0,0,0,0,1,0
1447,NaN,26142,5,7,1962,1962,189.0,3,3,3.0,...,0,0,0,1,0,0,0,0,1,0
1450,21.0,1533,5,7,1970,1970,0.0,3,3,4.0,...,0,0,0,1,1,0,0,0,0,0
1451,60.0,9000,5,5,1974,1974,0.0,3,3,4.0,...,0,0,0,1,0,0,0,0,1,0
1454,90.0,17217,5,5,2006,2006,0.0,3,3,4.0,...,0,0,0,1,1,0,0,0,0,0

In [66]:
# Fill Lot frontage
concat_bak[u'LotFrontage']=concat_bak[u'LotFrontage'].fillna(0)

In [67]:
# Print columns that contains NAN
for k,v in concat_bak.isnull().any().iteritems():
    if v:
        print k

MasVnrArea
BsmtQual
BsmtExposure
GarageYrBlt

In [68]:
# Fill masonary vesse area
concat_bak[u'MasVnrArea']=concat_bak[u'MasVnrArea'].fillna(0)

In [69]:
# Fill garage year built
concat_bak[u'GarageYrBlt']=concat_bak[u'GarageYrBlt'].fillna(1899)

In [70]:
# Fill BsmtQual
concat_bak[u'BsmtQual']=concat_bak[u'BsmtQual'].fillna(0)

In [71]:
# Fill BsmtExposure
concat_bak[u'BsmtExposure']=concat_bak[u'BsmtExposure'].fillna(0)

In [72]:
concat_bak.describe()

,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,ExterCond,BsmtQual,...,SaleType__ConLw,SaleType__New,SaleType__Oth,SaleType__WD,SaleCondition__Abnorml,SaleCondition__AdjLand,SaleCondition__Alloca,SaleCondition__Family,SaleCondition__Normal,SaleCondition__Partial
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.00000,1460.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,57.623288,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.117123,3.39589,3.083562,3.489041,...,0.003425,0.083562,0.002055,0.867808,0.069178,0.002740,0.008219,0.013699,0.820548,0.085616
std,34.664304,9981.264932,1.382997,1.112799,30.202904,20.645407,180.731373,0.57428,0.351054,0.876478,...,0.058440,0.276824,0.045299,0.338815,0.253844,0.052289,0.090317,0.116277,0.383862,0.279893
min,0.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,2.00000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,42.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,3.00000,3.000000,3.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,63.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,3.00000,3.000000,4.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
75%,79.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,164.250000,4.00000,3.000000,4.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
max,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5.00000,5.000000,5.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [73]:
concat_bak.to_csv(base_path+'new_data.csv')